*{
	font-family:monospace;
	margin-bottom:2em;
	color:white;
}

p{
	font-family:Montserrat;
	font-size:20px;
}

body, html{
	background-color:black;
}

a{
	text-decoration: underline;
	font-size:100px;
}

div{
	margin-top:200px;
	margin-left:50px;
	margin-right:50px;
	border:solid 10px;
}

