*{
	font-family:monospace;
}

h1{
	text-align:center;
}
.wrapper{
	border-radius:25px;
	background-color:cornflowerblue;
	padding: 10px;
	display:flex;
	flex-direction:column;
	gap: 10px;
	color:white;
	margin-bottom:50px;
}	
.wrapper h2{
	font-weight:bold;
}

.wrapper img{
	height: auto;
	width: 500px;
	max-height:700px;
}

