.card{
	border-radius:25px;
	background-color:cornflowerblue;
	padding: 10px;
	display:flex;
	flex-direction:column;
	gap: 10px;
	color:white;
}	
.card h2{
	font-weight:bold;
}

.card img{
	height: auto;
	width: 500px;
	max-height:700px;
}
